html, body {
    margin: 0;
}

body {
    font-family: Inter;
    background-color: #419694;
}

.container {
    margin: 45px 40px;
}

header {
    background: #416596;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.journal-entry {
    display: flex;
    margin-bottom: 36px;
}

 .marker {
    width: 7px;
    margin-right: 4px;
    color : #416596;
}

.main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

.main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 15px;
    margin-bottom: 17px;
    
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-top: 25px;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    /*max-width: 500px; */   
    width: 850px;        
    margin: 40px auto;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
